.card
{
    max-width: 480px;
    margin: auto;
    padding: 2rem;

    background-image: url("Picture/BGCard.gif");
    background-size: auto;      
    background-position: center;
    background-repeat: no-repeat;
    
    

}

.education-box
{
    /* background-color: rgb(255, 255, 255); */
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    /* padding: 0.5rem; */
    /* border-left: 5px solid #40b9ff; */
    /* border-radius: 12px; */
    box-shadow: 0px 0px 8px #40b9ff;
}
.border-title
{
    /* background-color: rgba(0, 0, 0, 0.5); */
    max-width: auto;
    max-height: auto;
    border-bottom: 3px solid #40b9ff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px #ffffff; */
    
}   
.custom-border
{
    border-top: 5px solid #40b9ff;
    border-left: 7px solid #40b9ff;
    border-bottom: 5px solid #40b9ff;
    box-shadow: 0px 0px 6px rgb(147, 64, 224);
    
    
}


.glow-text
{
    text-shadow: 0px 0px 4px #40b9ff;
}

.custom-font{
    font-family:'Helvetica';
}